body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    display: flex;
    justify-content: space-evenly;
    height: fit-content;
    width: 80%;
}
.searchbar{
    width: 50%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

}
input{
    width: 80%;
    height: 90%;
    border-radius: 10px;
}
.searchbar button{
    width: 15%;
    height: 100%;
    border-radius: 10px;
    background-color: blue;
    color: white;
}
.section{
    width: 30%;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.display{
    width: 100%;
    height: fit-content;
}

.taskbar{
    width: 100%;
    height: 50px;
    border: 2px solid black;
    margin-bottom: 20px;
}



.allcard{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    box-shadow: 0px 0px 5px;
    border-radius: 10px;
}
.deleteicon{
    justify-content: space-between;
    padding-left: 10px;

}
.fa{
    margin-right: 10px;
}
.check{
    width: 20px;
    height: 20px;
    margin: 10px;
    border-radius: 50%;
    border: 2px solid green;
}

.deleteall{
    width: 20%;
    height: 40px;
    margin-left: 80%;
    background-color: orangered;
    color: white;
    border: none;
}

.green{
    background-color: green;
}